<p style="color: green"><%= notice %></p>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1>Surveys</h1>

<div id="surveys">
  <table>
    <tr>
      <th>Question</th>
      <th>Answer Count</th>
      <th>Percent YES</th>
      <th>Percnet NO</th>
    </tr>
    <% @survey_stats.each do |survey_stat| %>
      <tr>
        <td><%= link_to survey_stat[:question], survey_stat[:survey] %></td>
        <td><%= survey_stat[:count] %></td>
        <td><%= survey_stat[:yes] %></td>
        <td><%= survey_stat[:no] %></td>
      </tr>
    <% end %>
  </table>
</div>

<p>
  <%= button_to "New survey", new_survey_path, :method => :get %>
</p>
