<p style="color: green"><%= notice %></p>

<table>
  <tr>
    <td><%= render @survey %></td>

    <td><%= button_to "Yes",
                      action: "create",
                      controller: "answers",
                      survey_id: @survey.id,
                      response: true
    %></td>

    <td><%= button_to "No",
                      action: "create",
                      controller: "answers",
                      survey_id: @survey.id,
                      response: false
    %></td>
  </tr>
</table>

<div>
  <p>
    <%= link_to "Back to surveys", surveys_path %>
  </p>
</div>

